/* Global */
body, html {
    width: 100%;
    margin: 0; 
    padding: 0;
    color: #542344;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

a, a:visited, a:focus, a:hover {
    text-decoration: none;
    color: #542344;
}

#about, #gallery, #contact, #not-found, #menu {
    margin-top: 100px; /* for nav */
    height: 100vh;
    text-align: center;

}

textarea {
    resize: none;
}

/* End Global CSS */ 

/* Start Contact CSS */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    border-radius: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input {
    height: 20px;
}

label > p {
    text-align: left;
    margin: 0;
}

.contact-submit {
    width: 100px;
}

.message {
    width: 400px;
    height: 400px;
}

/* End Contact CSS */ 



/* Start About CSS*/
.description {
    width: 60%;
    margin-left: 20%;
}

.store-imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.store-img {
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
}
/* End About CSS */

/* Start Gallery CSS*/
#gallery {

}

/* End Gallery CSS */

/* Start Nav CSS */ 
#nav {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    background-color: #EBF5EE;
}

#nav, .brand{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#brand-logo {
    width: 80px;
    height: 80px;
}

.brand {
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.nav-links {
    margin-top: 20px;
}

.nav-link {
    margin-left: 20px;
    margin-right: 20px;
    font-size: larger;
}

.nav-link:hover {
    font-weight: bold;
}

/* END Nav CSS */ 

/* Start Footer CSS */
#footer {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.media-img {
    width: 40px;
    height: 40px;
    color: black;
    margin: 10px;
}

/*End Footer CSS */ 



/* Mobile CSS */ 
@media screen and (max-width: 450px) {
    .nav-links {
        position: relative;
        display: flex;
        flex-direction: column;
    }
}